<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>
        {% block title %}
            blog Engine
        {% endblock %}
    </title>
</head>

<body>

<div class="top-menu">
    <div class="container-fluid">
        <div class="row">
            <div class="logo-wrap align-items-center col-md-6 col-sm-4">
                <span class="quotes-circle"></span>
                <span class="logo">LOGO</span>
            </div>
            <div class="col-md-6 col-sm-8 d-flex align-items-end justify-content-end">
                <ul class="nav d-flex">
                    <li class="nav-item"><a class="nav-link link-color" href="#">Products</a></li>
                    <li class="nav-item"><a class="nav-link link-color" href="#">Services</a></li>
                    <li class="nav-item"><a class="nav-link link-color" href="#">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

    <div class="container">
        <div class="row">
             <div class="col-6 offset-md-2 ">
                {% block content %}
                    blog Engine content
                {% endblock %}
            </div>
        </div>
    </div>

</body>
</html>